.student-owner{
    border: solid blue 5px;
}

.student-owner > h1{
    color: aqua;
}

.student-owner > input{
    border: solid lightblue 3px;
}

.student-contributor {
    width: 50%;
    background-color: darkkhaki;
}

.student-contributor > p {
    padding: 20px;
}
